#hiremenu_wrapper {
    padding: 0; 
    display: table;
    /* width: 100%; */
}

#info{
    width: 20%;
    display: table-cell;
    left: auto;
    right: auto;
    margin-left: auto;
    border: none;
}

#info span{
    display: block;
}

#info p{
    text-align: left;
}

#info ul{
    padding-left: 20px;
    list-style-type: square;
    text-align: left;
    font-size: 1rem;
}

#profile_list li ul, #work_list li ul{
    font-size: 0.8rem;
    list-style-type: none;
}

#menu{
    width: 40%;
    display: table-cell;
    left: auto;
    right: auto;
    margin-left: auto;
    border: none;
    text-align: center;
}

#profile_pic{
    width: 10vw;
    margin: 0;
}

#menu button{
    /* display: block; */
    width: 50%;
    border: 20px auto !important;
    margin-top: 10px;
    padding: 5px;
}

h1{
    display: table-row;
}

table#employee{
    width: 100%;
    font-size: 0.8rem;
}

table#employee tr td{
    padding: 0;
}

table#table_CV, #table_contract{
    min-width: 100%;
}

table#table_CV tr th{
    width: 30%;
}

table#table_CV tr td{
    text-align: left;
}